* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  background-color: rgb(240, 240, 240);

  font-family: 'Montserrat', sans-serif;
  color: rgb(35, 35, 35);
}

#actionCount {
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 5px;

  font-family: 'Montserrat', sans-serif;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.btn:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#buttonsContainer {
  display: flex;
  flex-direction: row;
}

#container {
  width: 500px;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
